<po-page-list p-title="Lista de Cliente">
  <div class="po-row po-md-12">
    <po-table
      p-service-api="http://192.168.3.214:7771/rest/api/crm/v1/customerVendor?pagesize=20&fields=name,code,shortName,address"
      [p-infinite-scroll]="true"
      [p-height]="600"
      class="po-md-12"
      [p-hide-table-search]="false"
    >
      <ng-template
        p-table-row-template
        let-items
        let-i="rowIndex"
        p-tooltip="Processos"
        [p-table-row-template-show]="mostrarDetalhes"
      >
        <div style="display: flex; flex-direction: column">
          <po-widget p-title="E-mails">
            <po-table
              class="po-sm-12 po-md-12 po-lg-12"
              [p-sort]="true"
              p-container
              [p-striped]="true"
              [p-items]="items.emails"
              [p-hide-columns-manager]="true"
              [p-hide-table-search]="true"
            ></po-table>
          </po-widget>
          <po-widget p-title="Grupos">
            <po-table
              class="po-sm-12 po-md-12 po-lg-12"
              [p-sort]="true"
              p-container
              [p-striped]="true"
              [p-items]="items.roles || []"
              [p-hide-columns-manager]="true"
              [p-hide-table-search]="true"
            >
            </po-table>
          </po-widget>
        </div>
      </ng-template>
    </po-table>
  </div>
</po-page-list>
